DataFile = /home/samanthagonzales/zinc_aging/analysis/consensus-causal-graph/rat/ordersearch/input/rat_representative.txt
TotalVariables = 31
MaximumCategory = 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 1 1
MinimumCategory = 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
MaximumParents = 4
Order = 24 30 26 14 5 20 6 18 2 27 11 13 19 22 10 21 1 12 4 16 8 17 29 0 28 3 15 9 23 7 25
Percentage = 99.0
OutputFileName = /home/samanthagonzales/zinc_aging/consensus-causal-graph/rat/structures/out/rat_representative_struct_results.txt
