DataFile = /home/samanthagonzales/zinc_aging/analysis/consensus-causal-graph/rat/ordersearch/input/rat_representative.txt
TotalVariables = 31
PriorFile = NONE
MaximumCategory = 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 1 1
MinimumCategory = 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
MaximumTime = 4
MaximumParents = 4
EpsilonDifference = 0.000001
StartingOption = Y
StartingOrder = 25 1 23 24 15 16 4 21 11 20 6 2 10 28 12 29 0 7 17 5 19 18 26 3 27 8 9 22 13 14 30
