DataFile = /home/samanthagonzales/zinc_aging/analysis/consensus-causal-graph/mouse/ordersearch/input/mouse_representative.txt
TotalVariables = 30
PriorFile = NONE
MaximumCategory = 1 2 2 2 2 2 2 2 1 2 2 2 1 2 2 2 1 2 1 1 2 2 2 1 2 2 2 2 2 2
MinimumCategory = 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
MaximumTime = 4
MaximumParents = 4
EpsilonDifference = 0.000001
StartingOption = Y
StartingOrder = 25 1 23 24 15 16 4 21 11 20 6 2 10 19 12 28 0 7 26 5 18 9 8 14 3 27 22 29 17 13
