DataFile = /home/samanthagonzales/zinc_aging/analysis/consensus-causal-graph/mouse/ordersearch/input/mouse_representative.txt
TotalVariables = 30
MaximumCategory = 1 2 2 2 2 2 2 2 1 2 2 2 1 2 2 2 1 2 1 1 2 2 2 1 2 2 2 2 2 2
MinimumCategory = 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
MaximumParents = 4
Order = 11 26 22 10 2 7 8 20 1 14 0 18 6 27 19 12 13 3 9 25 21 17 24 5 15 16 29 28 4 23
Percentage = 99.0
OutputFileName = /home/samanthagonzales/zinc_aging/analysis/consensus-causal-graph/mouse/structures/out/mouse_representative_struct_results.txt
